{% extends 'base.html' %}
{% load flatblock_tags %}
{% load skater_tags %}
{% load activity_tags %}
{% block content %}
<div class="row">
<div class="panel">
  {% flatblock "page.home" %}
</div>
</div>
<div class="row">
    <div class="large-4 column panel">
    <h3>Random Skater</h3>
    {% random_skater request.user %}
    </div>
    <div class="large-8 column panel">
    <h3>Recent Activities</h3>
    <ul class="no-bullet">
    {% for activity in activities %}
      <li>
        {% display_action activity %}
      </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock content %}
