{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% block profile_navigation %}
    {% if user.username == profile.user.username %}
    <div id="profile_nav_items">
      <ul class="inline-list right ">
          <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
          <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
          <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
      </ul>
    </div>
    {% endif %}
    {% endblock profile_navigation %}
    <div class="clearfix"></div>
    {% block profile_content_title %}
    {% endblock profile_content_title %}
    {% block profile_content %}
    {% endblock profile_content %}
{% endblock content %}
