{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load url from future %}
{% block title %}Trips - {{ block.super }}{% endblock title %}
{% block content_title %}<h2>Trips</h2>{% endblock content_title %}
{% block content %}
    <dl class="sub-nav">
      <dt>Sort:</dt>
      <dd><a href="{% url 'trip_list' %}?s=skater">Skater</a></dd>
      <dd><a href="{% url 'trip_list' %}?s=-dist">Distance</a></dd>
      <dd><a href="{% url 'trip_list' %}?s=start">Start</a></dd>
      <dd><a href="{% url 'trip_list' %}?s=avg_speed">Duration</a></dd>
      <dd><a href="{% url 'trip_list' %}?s=avg_speed">Avg. Speed</a></dd>
    </dl>
    <hr>
  {% for trip in object_list %}
    <div class="row">
      <div class="large-2 columns small-3">
        <a href="{% url 'userena_profile_detail' trip.skater.username %}">
          <img src="{{ trip.skater.profile.get_mugshot_url }}">
        </a>
        </div>
      <div class="large-1 columns">
        <p>
          <a href="{% url 'userena_profile_detail' trip.skater.username %}">
            <strong>{{ trip.skater.username }}</strong>
          </a></p>
      </div>
      <div class="large-9 columns">
        <table>
          <thead>
            <tr>
              <th>Start</th>
              <th>End</th>
              <th>Duration</th>
              <th>Distance</th>
              <th>Avg. Speed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-right"><a href="{% url 'trip_detail' trip.id %}">{{ trip.start }}</a></td>
              <td class="text-right">{{ trip.end }}</td>
              <td class="text-right">{{ trip.duration_human }}</td>
              <td class="text-right">{{ trip.distance|localize }} {{ request.user.profile.get_unit_of_measure_display }}</td>
              <td class="text-right">{{ trip.avg_speed|localize }} {{ request.user.profile.get_unit_of_measure_display }}/h</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  {% endfor %}
  {% if is_paginated %}
    <div class="row">
      <div class="large-12 pagination-centered">
            {% include 'paginator.html' with paginator=paginator page=page url_name='trip_list' %}
      </div>
    </div>
  {% endif %}
{% endblock %}
